<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="ProtocolFolder" value="resources/tera-data/protocol" />
		<add key="OpcodeMap" value="resources/opcodes.map" />
		<add key="PublicConfig" value="config.xml" />
		<add key="ServerDatabase" value="servers.txt" />
	</appSettings>
</configuration>
